/* Body styles */
body {
  background-image: url("./images/1.png");
  background-size: cover;
}

/* Container */
.read-blog-container {
  max-width: 100px;
  margin: 0 auto;
}

/* Header */
.header {
  text-align: center;
  padding: 20px 0;
}

.blog-title {
  font-size: 2rem;
  color: #333;
}

/* Main Content */
.main-content {
  padding: 20px;
}

.section-title {
  font-size: 1.5rem;
  color: darkslategrey;
  margin-bottom: 10px;
}
.section-container {
  background-color: rgba(249, 249, 249, 0.4);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navbar styles */
.navbar {
  background-color: rgba(0, 0, 0, 0);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  color: rgb(75, 73, 123); /* Link text color */
  text-decoration: none; 
  font-size: 18px; 
}

.navbar ul li a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Footer Styles */
.footer {
  background-color: rgba(0, 0, 0, 0); 
  color: rgb(75, 73, 123);
  font-size: 18px;
  padding: 3px; 
  padding-left: 20px;
  position: fixed; 
  bottom: 0; /* Align to the bottom */
  width: 100%; 
}

/* word search styles */
.dictionary {
  margin-left: 20px;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border: 7px solid #ccc;
  border-radius: 5px;
  background-color: rgba(249, 249, 249, 0.4);
}

.dictionary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.input {
  width: calc(100% - 85px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dict-button {
  padding: 3px 15px;
  padding-bottom: 15px;
  color: rgb(85, 85, 146);
  cursor: pointer;
}

.loading,
.error {
  margin-top: 20px; 
  font-style: italic; 
  color: #ff0000; 
}

.word-info {
  margin-top: 20px; 
}

.word-info h2 {
  font-size: 20px; 
  margin-bottom: 10px; 
}

.word-info p {
  margin-bottom: 5px; 
}

.word-info ul {
  padding-left: 20px;
}

.image {
  width: 150px;
  height: 100px;
  margin: 10px;
  margin-top: 100px;
}


.button-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  color: gray;
}


.button {
  text-align: center;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-blog-container {
  text-align: center;
}

.search-blog-heading {
  margin-bottom: 20px;
}


.image-container {
  height: 475px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
/* READBLOG styles */

.read-blog-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 7px solid rgba(204, 204, 204, 0.3);
}

.blog-title {
  text-align: center;
  margin-bottom: 20px;
}

.section-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.section-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  background-color: #92afcd;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}


.section-buttons button:hover {
  color: rgb(141, 73, 141);
}

.section-buttons button.active {
  background-color: rgb(72, 72, 117);
}

.section-content {
  text-align: left; 
}

.section-title {
  font-size: 24px; 
  margin-bottom: 10px; 
}

.section-content p {
  font-size: 18px; 
  margin-top: 10px;
}

/*welcome page*/
.welcomeContainer {
  background-color: #f0f0f0;
  border: 7px solid rgba(204, 204, 204, 0.2);
  padding: 20px;
  padding-right: 50px;
  border-radius: 8px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-top: 20px;
  width: 950px;
}

.welcomeContainer h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.welcomeContainer p {
  font-size: 16px;
  line-height: 1.5;
}

/*FORM*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.formContainer {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-left: 100px;
  margin-bottom: 80px;
}

.formGroup {
  margin-bottom: 15px;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.sign-button,
.login-button {
  width: 100%;
  padding: 10px;
  background-color: #a9bcd0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-button:hover,
.login-button:hover,
.sign-button:hover {
  background-color: #1e3959;
}

.errorMessage {
  color: red;
  margin-bottom: 10px;
}

/* ManageBlog page container*/
.manage-blog-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(249, 249, 249, 0.4);
}

.data-container p {
  font-size: 16px;
}
.data-container ul {
  list-style-type: none;
  padding: 0;
}

.data-container li {
  margin-bottom: 15px;
}

.data-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
