/* Body styles */
body {
  background-image: url('./images/1.png');
  background-size: cover;
  
}

/* Container */
.read-blog-container {
  max-width: 100px; /* Maximum width */
  margin: 0 auto; /* Center align */
}

/* Header */
.header {
  text-align: center; /* Text alignment */
  padding: 20px 0; /* Padding */
}

.blog-title {
  font-size: 2rem; /* Title font size */
  color: #333; /* Title color */
}

/* Main Content */
.main-content {
  padding: 20px; /* Padding */
}

.section-title {
  font-size: 1.5rem; /* Title font size */
  color: darkslategrey; /* Title color */
  margin-bottom: 10px; /* Margin bottom */
}
.section-container {
  background-color: #f0f0f0; /* Set your desired background color */
  padding: 20px; /* Add padding as needed */
  margin-bottom: 20px; /* Add margin between sections */
  border-radius: 8px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}


/* Navbar styles */
.navbar {
  background-color:rgba(0, 0, 0, 0); /* Background color */
  height: 80px; /* Height of the navbar */
  display: flex; /* Display flex for alignment */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center align items vertically */
  padding: 0 20px; /* Padding for inner content */
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex; /* Display list items horizontally */
}

.navbar ul li {
  margin-right: 20px; /* Margin between list items */
}

.navbar ul li a {
  color: black; /* Link text color */
  text-decoration: none; /* Remove underline from links */
  font-size: 18px; /* Font size for links */
}

.navbar ul li a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Footer Styles */
.footer {
  background-color:rgba(0, 0, 0, 0); /* Background color */
  color: black; /* Text color */
  font-size: 18px;
  padding: 3px; /* Padding */
  padding-left: 20px;
  position: fixed; /* Fixed position at the bottom */
  bottom: 0; /* Align to the bottom */
  width: 100%; /* Full width */
}


/* word search styles */
.dictionary {
  margin-left: 20px;
  max-width: 500px; 
  margin: 50px auto;
  padding: 30px; 
  border: 7px solid #ccc; 
  border-radius: 5px; 

}

.dictionary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.input {
  width: calc(100% - 85px); /* Input width */
  padding: 10px; /* Padding */
  margin-right: 10px; /* Margin right */
  border: 1px solid #ccc; /* Border */
  border-radius: 5px; /* Border radius */
}

.dict-button {
  padding: 3px 15px; /* Padding for button */
  padding-bottom: 15px;
  color: rgb(85, 85, 146); /* Button text color */
  cursor: pointer; /* Cursor style */

}

.loading,
.error {
  margin-top: 20px; /* Margin top */
  font-style: italic; /* Italic font style */
  color: #ff0000; /* Text color */
}

.word-info {
  margin-top: 20px; /* Margin top */
 }

.word-info h2 {
  font-size: 20px; /* Heading font size */
  margin-bottom: 10px; /* Margin bottom */
}

.word-info p {
  margin-bottom: 5px; /* Margin bottom */
}

.word-info ul {
  padding-left: 20px; /* Left padding for list */
}


/* Button Image SelectBlog page styles */
.image {
  width: 150px; /* Image width */
  height: 100px; /* Image height */
  margin: 10px; /* Margin around images */
  margin-top: 100px; /* Margin from the top */
}

.button-container {
  display: grid; /* Display grid */
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Responsive grid */
  gap: 20px; /* Gap between grid items */
  justify-items: center; /* Center items horizontally */
}

.button {
  text-align: center; /* Text alignment */
  align-items: center; /* Align items */
  height: 100%; /* Full height */
  display: flex; /* Display flex */
  flex-direction: column; /* Flex direction */
}

/*Searchblog css */
.search-blog-container {
  text-align: center; /* Text alignment under image on search page */
}

.search-blog-heading {
  margin-bottom: 20px; /* Margin bottom */
}

.image-container{
  height: 475px;
  margin-top:20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
/* READBLOG styles */

.read-blog-container {
  max-width: 1000px; /* Maximum width */
  margin: 0 auto; /* Center align */
  padding: 20px; /* Padding */
}

.blog-title {
  text-align: center; /* Text alignment */
  margin-bottom: 20px; /* Margin bottom */
}

.section-buttons {
  display: flex; /* Display flex */
  justify-content: center; /* Center horizontally */
  margin-bottom: 20px; /* Margin bottom */
}

.section-buttons button {
  padding: 10px 20px; /* Padding */
  margin: 0 10px; /* Margin */
  border: none; /* No border */
  border-radius: 4px; /* Border radius */
  background-color: #92afcd; /* Button background color */
  color: #fff; /* Text color */
  cursor: pointer; /* Cursor style */
  font-size: 18px;
}

.section-buttons button:hover{
  color: rgb(141, 73, 141);
}

.section-buttons button.active {
  background-color: rgb(72, 72, 117); /* Button background color for active state */
}

.section-content {
  text-align: left; /* Text alignment */
}

.section-title {
  font-size: 24px; /* Font size */
  margin-bottom: 10px; /* Margin bottom */
}

.section-content p {
  font-size: 18px; /* Font size */
  margin-top: 10px;
}

/*welcome page*/
.welcomeContainer {
  background-color: #f0f0f0;
  padding: 20px;
  padding-right: 50px;
  border-radius: 8px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-top: 20px;
    width: 950px;
}

.welcomeContainer h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.welcomeContainer p {
  font-size: 16px;
  line-height: 1.5;
}

/*FORM*/
.container {
  
  display:flex ;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  }

.formContainer {
  background-color:#f4f4f4;
  padding: 20px;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-left: 100px;
  margin-bottom: 80px;
}


.formGroup {
  margin-bottom: 15px;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.sign-button,
.login-button {
  width: 100%;
  padding: 10px;
  background-color: #83a3c6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover,
.login-button:hover, .sign-button:hover{
  background-color: #1e3959;
}

.errorMessage {
  color: red;
  margin-bottom: 10px;
}

